.chart-view-container {
  position: relative;
  width: 100%;
  height: 100%;

  .chart-view-container-mask {
    width: 100%;
    height: 100%;
    background: white;
    opacity: 0.3;
    position: absolute;
  }

  .chart-view-container-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
}
