.grid-item {
    padding: 20px;
}

.grid-item-content {
    border: 2px solid;
    border-radius: 5px;
}

.widget-hr {
    height: 2px;
    background-color: black;
    border: none;
    margin: 0px;
}