/*
* Copyright OpenSearch Contributors
* SPDX-License-Identifier: Apache-2.0
*/

.correlation_rule_field_condition .euiButtonGroup__buttons {
  box-shadow: none;
}

#sa-correlations-network .vis-tooltip {
  background-color: #535353;
  padding: 0px;
}